/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

li {
  margin: 0 15px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s ease;
}

a:hover {
  color: #ffeb3b;
}


.basketContainer {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #333;
  margin-bottom: 20px;
}

.basketItems {
  margin-bottom: 20px;
}

.basketItem {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
  transition: box-shadow 0.2s ease-in-out;
}

.basketItem:hover {
  box-shadow: 9px 6px 30px -16px rgba(0,0,0,0.75);
}

.basketImg {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-right: 20px;
}

.itemDetails {
  flex-grow: 1;
}

.itemDetails h3 {
  margin: 0 0 10px;
  font-size: 18px;
}

.itemDetails p {
  margin: 0 0 10px;
  font-weight: bold;
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #ddd;
  cursor: pointer;
  font-size: 18px;
}

.quantity input {
  width: 50px;
  text-align: center;
  border: 1px solid #ddd;
  margin: 0 5px;
}

.removeItem {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.basketSummary {
  text-align: right;
}

.basketSummary h2 {
  margin: 0 0 10px;
}

.basketSummary p {
  margin: 0 0 20px;
  font-size: 18px;
}

.checkoutBtn {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
}

.checkoutBtn:hover {
  background-color: #218838;
}

li:hover {
  /* background-color: #fff; */
  transition: background-color 0.2s ease-in-out;
}
